SurgicalSAM2/checkpoints/*.pth
data/*
pose_results/*
tracking/*
ContourTipNet/data/*
ContourTipNet/GIFs/*
ContourTipNet/Archive/*
pose_reconstruction/*
pf_tracking_results/*
*.gif
*.png
*.zip
*.csv
videos/*

# python
__pycache__/
*.pyc